.mnemonic-input{
    border-top: 0px!important;
    border-left: 0px!important;
    border-right: 0px!important;
    border-radius: 0px;
    background-color: #CC7A1F!important;
}
.mnemonic-textArea{
    border:0px !important;
    height: 120px !important;
    background-color: #CC7A1F!important;
}
.mnemonic-input:focus{
    box-shadow: 0px 0px 0px #FFF;
}
.mnemonic-col{
    background-color: #CC7A1F!important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
    background-color: #CC7A1F!important;
}

