.ant-table-placeholder{
	border-bottom:none;
	background-color: transparent;
}
.ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td, .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td{
	background-color: rgba(20,113,163,0.2);
}
.ant-card-actions{
	background-color: transparent;
	border-top: 1px solid #073552
}
.ant-card-actions > li:not(:last-child){
	border-right: 1px solid #073552
}
.ant-list-split .ant-list-item{
	border-bottom: 1px solid #073552;
}
.ant-list-sm .ant-list-item{
    padding-top:0px;
    padding-bottom:0px;
}
.chatTableList{
	background-color: rgba(47,171,226,0.15);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #6a82a5;opacity:1;
}

::-webkit-input-placeholder{
    color: #6a82a5;
}
.ant-table-small > .ant-table-content > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-body > table, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table{
	padding: 0px;
}